<section>
  <div class="form-section">
    <div class="header-section">
      <div
        class="favourite-list"
        [ngClass]="{
          show: isOpen,
          hide: !isOpen,          
        }"
      ></div>
      <h1>Nová žádanka</h1>
      <div class="favourite-section">
        <i
          [ngClass]="{
            active: isFavourite,
            '': !isFavourite,
            'bi-star-fill': isFavourite,
            'bi-star': !isFavourite
          }"
          class="bi bi-star fav"
          (click)="setFavourite()"
        ></i>

        <button class="btn btn-primary btn-list" (click)="toggleOpen()">
          <i
            class="bi"
            [ngClass]="{
            'bi-caret-up-fill': isOpen,
            'bi-caret-down-fill': !isOpen,          
          }"
          ></i>
        </button>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div
      *ngIf="typeOfRequest.touched && !typeOfRequest.valid"
      class="alert alert-danger"
    >
      Nutno vyplnit druh jízdy.
    </div>
    <div
      *ngIf="vehicleId.touched && !vehicleId.valid"
      class="alert alert-danger"
    >
      Nutno vyplnit kolonku Auto.
    </div>
    <div *ngIf="dateFrom.touched && !dateFrom.valid" class="alert alert-danger">
      Nutno vyplnit kolonku Od.
    </div>
    <div *ngIf="dateTo.touched && !dateTo.valid" class="alert alert-danger">
      Nutno vyplnit kolonku Dp.
    </div>
    <div
      *ngIf="travelFrom.touched && !travelFrom.valid"
      class="alert alert-danger"
    >
      Nutno vyplnit kolonku Začátek.
    </div>
    <div *ngIf="travelTo.touched && !travelTo.valid" class="alert alert-danger">
      Nutno vyplnit kolonku Cíl.
    </div>

    <form #requestForm="ngForm">
      <div class="form-group mb-3">
        <label class="form-label" for="typeOfRequest">Typ cesty:</label>
        <select
          class="form-control form-control-lg"
          name="typeOfRequest"
          #typeOfRequest="ngModel"
          id="typeOfRequest"
          required
          [(ngModel)]="request.typeOfRequest"
        >
          <option value="company">Firemní</option>
          <option value="private">Soukromá</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="vehicleId">Vozidlo: </label>
        <label class="form-label" *ngIf="isLoading"
          >Seznam se načítá.<i class="bi bi-gear"></i
        ></label>
        <label class="form-label" *ngIf="!request.typeOfRequest"
          >Vyberte nejdříve typ jízdy.</label
        >
        <select
          [disabled]="isLoading || !request.typeOfRequest"
          class="form-control form-control-lg"
          name="vehicleId"
          #vehicleId="ngModel"
          id="vehicleId"
          required
          [(ngModel)]="request.vehicleId"
        >
          <option *ngFor="let v of vehicles" value="{{ v.id }}">
            {{ v.plate }} {{ v.type }}
          </option>
        </select>
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="dateFrom">Od:</label>
        <input
          (change)="checkDates()"
          type="date"
          id="dateFrom"
          #dateFrom="ngModel"
          required
          name="dateFrom"
          [(ngModel)]="request.dateFrom"
          class="form-control form-control-lg"
        />
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="dateTo">Do:</label>
        <input
          type="date"
          id="dateTo"
          #dateTo="ngModel"
          name="dateTo"
          required
          (change)="checkDates()"
          [(ngModel)]="request.dateTo"
          class="form-control form-control-lg"
        />
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="travelFrom">Začátek:</label>
        <input
          type="text"
          id="travelFrom"
          #travelFrom="ngModel"
          name="travelFrom"
          required
          class="form-control form-control-lg"
          [(ngModel)]="request.travelFrom"
        />
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="travelTo">Cíl:</label>
        <input
          type="text"
          id="travelTo"
          #travelTo="ngModel"
          name="travelTo"
          required
          class="form-control form-control-lg"
          [(ngModel)]="request.travelTo"
        />
      </div>
      <div class="form-outline mb-3">
        <label class="form-label" for="description">Poznámka:</label>
        <textarea
          type="text"
          id="description"
          #description="ngModel"
          name="description"
          required
          class="form-control form-control-lg"
          [(ngModel)]="request.description"
        ></textarea>
      </div>
      <button
        (click)="createRequest()"
        class="btn btn-primary"
        [disabled]="requestForm.invalid"
      >
        Zažádat
      </button>
    </form>
  </div>
</section>
