<h1>Carma</h1>
<p>Firemní systém vozidel:</p>
<div class="row">
  <div class="card" [routerLink]="['/request-form/0']">
    <img class="thumb" src="assets/key.jpg" alt="" />
    <h1>Nová žádanka</h1>
  </div>
  <div class="card" [routerLink]="['/vehicles-overview']">
    <img class="thumb" src="assets/car.jpg" alt="" />
    <h1>Vozidla</h1>
  </div>
  <div class="card" [routerLink]="['/requests-overview/0']">
    <img class="thumb" src="assets/note.jpg" alt="" />
    <h1>Přehled</h1>
  </div>
</div>
