<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <button
        class="btn-back"
        (click)="
          redirectToExternalUrl('https://sw02660.global.hvwan.net/apps/')
        "
      >
        <i class="bi bi-chevron-double-left"></i>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">carma</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <div class="d-flex">
            <ul class="navbar-nav flex-grow">
              <li
                class="nav-item"
                style="border-right: solid 1px rgb(186, 205, 255)"
              >
                <a *ngIf="user" class="nav-link text-dark">{{ user.Email }}</a>
              </li>

              <li
                class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
              </li>
              <li
                class="nav-item"
                [routerLinkActive]="['link-active']"
                *ngIf="loginService.isLoggedIn()"
              >
                <a
                  class="nav-link text-dark"
                  [routerLink]="['/requests-overview/0']"
                  >Přehled</a
                >
              </li>
              <li
                class="nav-item"
                [routerLinkActive]="['link-active']"
                *ngIf="loginService.isLoggedIn()"
              >
                <a
                  class="nav-link text-dark"
                  [routerLink]="['/vehicles-overview']"
                  >Vozidla</a
                >
              </li>
              <li
                class="nav-item"
                [routerLinkActive]="['link-active']"
                *ngIf="loginService.isLoggedIn()"
              >
                <a
                  class="nav-link text-dark"
                  [routerLink]="['/accounting-overview']"
                  >Finance</a
                >
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/request-form/0']"
                  >Žádanka</a
                >
              </li>
            </ul>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              *ngIf="loginService.isLoggedIn()"
            >
              <mat-icon>group</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Profil</button>
              <button mat-menu-item (click)="logout()">Odhlásit</button>
            </mat-menu>
          </div>
          <div *ngIf="!loginService.isLoggedIn()">
            <button mat-button [routerLink]="['/login']">
              Přihlásit <mat-icon>send</mat-icon>
            </button>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
