<div *ngIf="error" class="alert-danger alert">{{ error }}</div>
<table *ngIf="!loading" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Typ</th>
      <th scope="col">SPZ</th>
      <th scope="col">Stav Km</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles" (click)="openDialog(v)">
      <th scope="col">{{ v.type }}</th>
      <td scope="col">{{ v.plate }}</td>
      <td scope="col">{{ v.stateOfKm }}</td>
      <td scope="col">{{ v.status }}</td>
    </tr>
  </tbody>
</table>
