<div *ngIf="error" class="alert-danger alert">{{ error }}</div>
<notification
  *ngIf="notificationStatus === 'success'"
  notificationContent="Vozidlo bylo úspěšně aktualizováno"
  header="Hotovo"
  loaderColor="green"
></notification>
<notification
  *ngIf="notificationStatus === 'error'"
  notificationContent="Něco se pokazilo, zkuste to znovu"
  header="Chyba"
  loaderColor="red"
></notification>
<button class="btn-add" (click)="openDialog(emptyVehicle)">+</button>
<table *ngIf="!loading" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Typ</th>
      <th scope="col">SPZ</th>
      <th scope="col">Stav Km</th>
      <th scope="col">Status</th>
      <th scope="col">Majitel</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles" (click)="openDialog(v)">
      <th scope="col">{{ v.type }}</th>
      <td scope="col">{{ v.plate }}</td>
      <td scope="col">{{ v.stateOfKm }}</td>
      <td scope="col">{{ v.status }}</td>
      <td scope="col">{{ v.owner }}</td>
    </tr>
  </tbody>
</table>
